*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  width: 100vw;
}

#input,
button {
  background-color: #bbc;
  padding: 10px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  border: 2px solid #113;
}

button:hover {
  background-color: #ddd;
}

#input p {
  color: #334;
  margin-bottom: 0.25rem;
}

div#input {
  z-index: 10;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#input input {
  padding: 5px;
  border: #333 2px solid;
  border-radius: 10px;
}

button {
  margin: 2px;
  color: #222;
  cursor: pointer;
}

button:disabled {
  color: #9a9;
  cursor: not-allowed;
  background-color: #ddd;
  border: 0;
}

button#save {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

label#theme-label {
  --w: 60px;
  --h: 20px;
  margin-top: 2px;
  position: absolute;
  right: 10px;
  top: 0;
  background: #ccc;
  width: var(--w);
  height: calc(var(--h) + 2.3px);
  border-radius: 999px;
  color: #333;
  font-weight: 900;
  box-shadow: 2px 2px 3px #00000034;
  border: 1px solid #333;
  cursor: pointer;
}

label#theme-label input {
  display: none;
}

label#theme-label input + span::after {
  position: absolute;
  content: "";
  background-color: rgba(34, 34, 34);
  right: 0;
  height: var(--h);
  width: calc(var(--w) / 2);
  border-radius: 999px;
  border: 2px solid white;
  transition: transform 0.3s ease-in;
  transform: translateX(0);
}

label#theme-label input:checked + span::after {
  transform: translateX(-92%);
}

#canvas {
  background-color: #000;
  position: absolute;
  inset: 0;
  height: 90vmin;
  /* width: 100vw; */
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 20px solid #333; */
  border: 0 !important;
}

canvas {
  border: 0 !important;
}

.source-wrapper {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}

.source-list {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-direction: column;
  gap: 5px;
}

.source-list > li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 10px;
  gap: 5px;
}
